<div class="row">
    <div class="col">
        <div class="float-start me-1">
            <label for="ticket_type_name">Type Name</label>
        </div>
        <div class="float-start me-1">
            <input id="ticket_type_name" class="form-control w32" value="<%= @ticket_type.type_name %>" disabled>
        </div>
    </div>
</div>