<div class="row mb-4">
    <div class="col">
        <h1>Ticket Type</h1>
    </div>
</div>

<%= render "type" %>

<div class="row mt-4">
    <div class="col">
        <%= link_to "Edit this ticket", edit_ticket_type_path(@ticket_type), class:"btn btn-primary" %>
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
</div>