<div class="row mb-2 gap-3">
    <div class="col">
        <% link_to new_user_path, class: "btn btn-primary" %>
    </div>
    <div class="col">
        <button class="btn btn-danger">Test Button</button>
        <button class="btn btn-info">Test Button</button>
        <button class="btn btn-success">Test Button</button>
    </div>
</div>

