<div id="<%= dom_id ticket %>">
  <div class="container">
    <div class="row align-items-start p-4 border">
      <div class="col p-1">
        <div class="float-start me-1">
          <strong>Title:</strong>
        </div>
        <div class="float-start w-75">
          <input type="text" class="form-control" value="<%= ticket.title %>" disabled>
        </div>
      </div>
      <div class="col p-1">
        <div class="float-start me-1">
          <strong>Type</strong>
        </div>
        <div class="float-start w-75">
          <select class="form-control" disabled>
            <option><%= @ticket_type_hash[@ticket.ticket_type_id] || "Unknown Type" %></option>
          </select>
        </div>
      </div>
    </div>
    <div class="row p-4 border">
      <div class="col p-1">
        <strong>Body</strong>
<textarea class="form-control" rows="8" disabled>
<%= ticket.body %>
</textarea>
      </div>
    </div>
  </div>
</div>
