<nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary" style="margin-bottom: 70px;">
  <div class="container-fluid">
    <div class="mx-auto" style="min-width: fit-content">
      <div class="row text-center">
        <a class="navbar-brand mx-auto" href="#">Ticket Manager</a>
      </div>
      <div class="row justify-content-center">
        <ul class="navbar-nav mb-2 ps-4">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Profile</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Tickets
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/tickets">View Tickets</a></li>
              <li><a class="dropdown-item" href="/tickets/new">Create New Ticket</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
